</head>
<body  style="background-color:rgba(122, 176, 184, 0.718);">

<div class="container">
    <center><h2>customer details</h2> </center> 
    <hr>
    
    <form action="/all" method="POST" enctype="multipart/form-data">


        <input type="text"  name="id" value="<%= id %>" disabled="disabled"><br><br>
          <label>FullName</label>
          <input type="text"  value="<%= fullName %>" disabled="disabled" ><br><br>

          <label>DateOfBirth</label>
          <input type="date" value="<%= dateOfBirth%>"  disabled="disabled"><br><br>

          <label>Gender</label>
          <input type="text" value="<%= gender %>"  disabled="disabled"><br><br>

          <label>Nationality</label>
          <input type="text"  value="<%= nationality %>" disabled="disabled"><br><br>

          <label>PlaceOfBirth</label>
          <input type="text"  value="<%= placeOfBirth %>" disabled="disabled">

          <label>MaritalStatus</label>
          <input type="text" value="<%= maritalStatus %>" disabled="disabled"><br><br>

          <label>FatherName</label>
          <input type="text"  value="<%= fatherName %>" disabled="disabled"><br><br>

          <label>DocumentType</label>
          <input type="text" value="<%= documentType %>" disabled="disabled" ><br><br>

          <label>DocumentNumber</label>
          <input type="text" value="<%= documentNumber %>" disabled="disabled"><br><br>

          <label>IssuingAuthority</label>
          <input type="text" value="<%= issuingAuthority %>" disabled="disabled"><br><br>

          <label>Expirydate</label>
          <input type="date"value="<%= expiryDate %>" disabled="disabled"><br><br>

          <label>ResidentialAddress</label>
          <input type="text" value="<%= residentialAddress %>" disabled="disabled"><br><br>

          <label>ProofOfAddress</label>
          <input type="file"  value="<%= proofOfAddress %>" disabled="disabled"><br><br>


          <label>PhoneNumber</label>
          <input type="text" value="<%= phoneNumber %>" disabled="disabled" ><br><br>

          <label>email</label>
          <input type="email" value="<%= email %>" disabled="disabled"><br><br>

          <label>Photo</label>
          <input type="file" value="<%= photo %>" disabled="disabled"><br><br>

          <label>Occupation</label>
          <input type="text" value="<%= occupation %>" disabled="disabled"><br><br>

          <label>SourceOfFunds</label>
          <input type="text" value="<%= sourceOfFunds %>"disabled="disabled" ><br><br>

          <label>AnnualIncome</label>
          <input type="text" value="<%= annualIncome %>"disabled="disabled"><br><br>

          <label>PAN</label>
          <input type="text"  value="<%= PAN %>" disabled="disabled"><br><br>


          <div class="clearfix">
        
          </div>
        </div>
    </form>
</body>
</html>